DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inevia?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
CURRENT_STORE_SLUG="inevia-shop"
S3_ENDPOINT=""
S3_REGION=""
S3_BUCKET=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
MPESA_API_URL="https://api.sandbox.vm.co.mz:18352"
MPESA_API_KEY=""
MPESA_PUBLIC_KEY=""
MPESA_SERVICE_PROVIDER_CODE=""
EMOLA_API_URL=""
EMOLA_API_KEY=""
EMAIL_FROM="Inevia.shop <noreply@inevia.shop>"
SMTP_URL=""
SEED_ADMIN_EMAIL="admin@inevia.shop"
SEED_ADMIN_PASSWORD="ChangeMe123!"
